@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #d7fcf8;
}

.popup[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.popup::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
